<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-Salada</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='detalhes.css' )}}">
</head>
<body>
    <div class="detalhes">
        <img src="https://img.cybercook.com.br/receitas/151/x-salada-3.jpeg" width="30%">
        <h3>X-Salada</h3>
        <h3>Preço: R$18,00</h3>
        <h3>Ingredientes: 1 Hambúrguer de fraldinha, 4 fatias de queijo prato, 4 folhas de alface rasgadas, 4 rodelas de tomate</h3>
        <h3>Bruno: Ótimo lanche.</h3>
        <h3>Maria: O melhor da cidade!</h3>
    </div>
</body>
</html>